<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Ordem de Serviço Brisanet</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    .form-container {
      position: relative;
      width: 1000px; /* ajuste conforme o tamanho da imagem */
      height: 1400px; /* ajuste conforme o tamanho da imagem */
      background-image: url('fundo.JPG'); /* nome da imagem de fundo */
      background-size: cover;
      background-position: top left;
      margin: 0 auto;
    }

    .campo {
      position: absolute;
      transform: translate(-50%, -50%);
    }

    /* Exemplo de posicionamento dos checkboxes */
    #tv { top: 200px; left: 150px; }
    #ponto { top: 200px; left: 350px; }
    #internet { top: 200px; left: 550px; }
    #telefonia { top: 200px; left: 750px; }

    #kit_sim { top: 700px; left: 150px; }
    #kit_nao { top: 700px; left: 250px; }

    #estado_sim { top: 800px; left: 150px; }
    #estado_nao { top: 800px; left: 250px; }

    /* Adicione mais campos conforme necessário */
  </style>
</head>
<body>
  <div class="form-container">
    <input type="checkbox" id="tv" class="campo">
    <input type="checkbox" id="ponto" class="campo">
    <input type="checkbox" id="internet" class="campo">
    <input type="checkbox" id="telefonia" class="campo">

    <input type="checkbox" id="kit_sim" class="campo">
    <input type="checkbox" id="kit_nao" class="campo">

    <input type="checkbox" id="estado_sim" class="campo">
    <input type="checkbox" id="estado_nao" class="campo">
  </div>
</body>
</html>
